body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #2b7cff;
    color: white;
    padding: 30px;
    text-align: center;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    color: #2b7cff;
}

ul li {
    margin-bottom: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    background: #222;
    color: white;
}